[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C=CL
ST=Valparaiso
L=Valparaiso
O=UniversidadDeValparaiso
OU=IngenieriaCivilInformatica
emailAddress=dante.chavez@estudiantes.uv.cl
CN=localhost